<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" img=" content="width=device-width, initial-scale="1.0">
    <title>Memory Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
    <%- include("fragmentos/navar"); %>
    
    
    <div class="contenedor">
        <div class="cards" style = "width: 18rem;">
            <img src="./JuegoDeMemoria.png" class="img1">
            <div class="card-body">
                <h5 class="card-title">JUEGO DE MEMORIA</h5>
                <p class="card-text">Este es un juego de memoria visual basado en cartas, el cual tiene una pequeña variedad de niveles</p>

                <a href="/Nivel1" class="btn btn-primary" style="background-color: #809cce;     margin-left: 30%;" id="botonplay">Empezar</a>
            </div>
        </div>
   
    <div class="cards" style="width: 18rem;">
        <img src="./JuegoDeExprecion.png" class="img1">
        <div class="card-body">
            <h5 class="card-title">JUEGO DE EXPRECIONES</h5>
            <p class="card-text">Este es un juego para ayudar a reconocer diferentes expreciones faciales y sus significados.</p>
            <a href="/Juego2Nivel2" class="btn btn-primary" style="background-color: #809cce; margin-left: 30%;" id="botonexpresiones">Empezar</a>
        </div>
    </div>
</div>
</div>

    <%- include("fragmentos/footer"); %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/server.js"></script>
</html>