<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego De Memoria</title>
    <link rel="stylesheet" href="css/Juego2Nivel2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <%- include("fragmentos/Navar-Cards"); %>

    <div class="container">
        <div class="column contImg1">
            <div id="img1" class="imgs">
                <img src="/imgJuego2Nivel2/feliz.jpg" alt="Feliz">
            </div>
            <div id="img2" class="imgs">
                <img src="/imgJuego2Nivel2/triste.jpg" alt="Triste">
            </div>
            <div id="img3" class="imgs">
                <img src="/imgJuego2Nivel2/enojado.jpg" alt="Enojado">
            </div>
            <div id="img4" class="imgs">
                <img src="/imgJuego2Nivel2/sorprendido.jpg" alt="Sorprendido">
            </div>
        </div>

        <div class="column contText2">
            <div id="img5" class="imgstext">
                <div class="text" id="text1">Sorprendido</div>
            </div>
            <div id="img6" class="imgstext">
                <div class="text" id="text2">Enojado</div>
            </div>
            <div id="img7" class="imgstext">
                <div class="text" id="text3">Feliz</div>
            </div>
            <div id="img8" class="imgstext">
                <div class="text" id="text4">Triste</div>
            </div>
        </div>
    </div>

    <div class="contadores">
        <div>Buenas: <span id="buenas">0</span></div>
        <div>Malas: <span id="malas">0</span></div>
    </div>

    <%- include("fragmentos/footer"); %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="ExprecionesNivel2.js"></script>
</body>
</html>
