body{
    background-color: #94B9D1;
    padding-top: 5%;  
}
.ImgLogo{
    height: 7%;
    width: 7%;
}
.cards{
    height:30% ;
    width:30% ;
    background-color: #D6EADF;
    border:2px solid black;
    border-radius: 5%;
    margin-top: 4%;
    margin-left: 5%;
}
#botonplay{
    margin-bottom: 3%;
}
.img1{
    height:50% ;
    width:90% ;
    border-radius: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-title{
    margin-left: 15%;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding-top: 5%;
    margin-left: 5%;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #001D4A;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.indsn{
    height:auto ;
    width:auto ;
    border-color:black ;
    border-radius: 10%;
}