body{
    background-image: url('/fondo.png');
    background-repeat: repeat; 
}

#nombre{
    margin-bottom: 3%;
}
#email{
    margin-bottom: 3%;
}
#contraseña{
    margin-bottom: 3%;
}
#edad{
    margin-bottom: 3%;
}